/*#4b32c3 eslint dark purple*/
/*#d4d4f7 eslint purple*/
/*#F9F9F9 eslint light purple*/

table, th, td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
td {
  padding:  5px;
}
a:link, a:visited {
    color: blue;
}
input[type=number] {
  max-width: 55px;
}
/*input[type=text] {
  max-width: 80px;
}*/
i {
  color: #4b32c3;
}
.hidden1 {
  display: none;
}
/*.hidden:target {
  display: table-cell;
}*/
.rule-line {
  border-top: 2px solid blueviolet;
}
tr.rule-line:hover {
  background-color: #F9F9F9;
}
tr.rule-line td {
  padding:  6px 12px;
}
.rule-text {
  background-color: rgba(0,0,0,0);
  border-style: dashed;
  border-color: #4b32c3;
  max-width: 300px;
}
.rule-controls-line {
  padding-left: 50px;
}
.rule-category {
  background-color: #4b32c3;
  color: white;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: x-large;
}
/*---------------------------------------*/
/*.oneof-div {
  display: inline-block;
}
.oneof-div2 {
  border:1px solid;
  display:inline-block;
  vertical-align: top;
}*/
.background-warning {
  background-color: #ffff45;
}
.background-error {
  background-color: red;
}
