table, th, td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
td {
  padding:  5px;
}
tr:hover {
  /*background-color: rgba(255,0,255,0.15);*/
  background-color: #d4d4f7;
}
a:link, a:visited {
    color: blue;
}
input[type=number] {
  max-width: 55px;
}
.hidden {
  display: none;
}
/*.hidden:target {
  display: table-cell;
}*/
.rule-text {
  background-color: rgba(0,0,0,0);
  border-style: dashed;
  border-color: #4b32c3;
}
