/*#4b32c3 eslint dark purple*/
/*#d4d4f7 eslint purple*/
/*#F9F9F9 eslint light purple*/

table, th, td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
td {
  padding:  5px;
}
tr:hover {
  background-color: #F9F9F9;
}
.rule-line {
  border-top: 2px solid blueviolet;
}
a:link, a:visited {
    color: blue;
}
input[type=number] {
  max-width: 55px;
}
.hidden1 {
  display: none;
}
/*.hidden:target {
  display: table-cell;
}*/
.rule-text {
  background-color: rgba(0,0,0,0);
  border-style: dashed;
  border-color: #4b32c3;
}
.rule-controls-line {
  padding-left: 50px;
}
/*---------------------------------------*/
/*.oneof-div {
  display: inline-block;
}
.oneof-div2 {
  border:1px solid;
  display:inline-block;
  vertical-align: top;
}*/
